.container {
 font-family: sans-serif;
}

.container .widget-list {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.container .widget {
    flex-grow: 1;
    background-color: rgb(236, 236, 237);
    border: 1px solid black;
    width: 24%;
    max-width: 24%;
    margin-bottom: 40px;
    margin-right: 10px;
}

.container .widget .header {
    background-color: rgb(74, 74, 75);
    color: white;
    text-align: center;
    padding: 5px;
}

.container .widget .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    background-color: rgb(234, 241,	246);
}

.container .widget .content .title {
    font-size: 12px;
}

.white-arrow {
    background-color: white;
    margin: 10px;
    border-radius: 4px;
    padding-left: 5px;
    padding-right: 5px;
}

.white-arrow .value b{
    font-size: 26px;
}

.container .widget .left-side-content {
    flex-grow: 2;
    text-align: left;
    color: red;
    clip-path: polygon(0 0, 80% 0, 100% 40%, 100% 60%, 80% 100%, 0 100%);
}

.container .widget .left-side-content:hover {
    background-color: red;
    color: white
} 

.container .widget .right-side-content {
    flex-grow: 2;
    text-align: right;
    color: green;
    clip-path: polygon(0 40%, 20% 0, 100% 0, 100% 100%, 20% 100%, 0 60%);
}

.container .widget .right-side-content:hover {
    background-color: green; 
    color: white;
}

.triangle-up {
    padding-top: 10px;
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 20px solid green;
}